<h1>welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
  Number of rooms:
  <div
    [ngStyle]="{
      background: 'steelblue',
      color: 'white',
      display: 'inline-block',
      padding: '10px',
      'border-radius': '3px'
    }"
    [innerText]="'TS'"
  ></div>
</div>

<!---->

<!-- {{ rooms?.availableRooms ?? "No Rooms" }}   -->

<!-- {{ roomList | json }} -->

<button (click)="toggle()" class="btn btn-info">toggle</button>

<div *ngIf="rooms.availableRooms > 0">
  <app-rooms-list
    [rooms]="roomList"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>
<div>
  <button (click)="addRoom()" class="btn btn-danger">Add Room</button>
</div>
<br />
<br />

<div *ngIf="selectedRoom">
  <table class="table table-bordered">
    <tr>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Room Price</th>
      <th>Room Amenities</th>
      <th>Check-in Time</th>
      <th>Check-out Time</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td>{{ selectedRoom.roomNumber }}</td>
      <td>{{ selectedRoom.roomType }}</td>
      <td>{{ selectedRoom.price | currency : "INR" }}</td>
      <td>{{ selectedRoom.amenities }}</td>
      <td>{{ selectedRoom.checkInTime | date : "short" }}</td>
      <td>{{ selectedRoom.checkOutTime | date : "short" }}</td>
      <td>{{ selectedRoom.rating | number : ".2-5" : "en-us" }}</td>
    </tr>
  </table>
</div>
